/* ვიდეოს გვერდის სტილის დასაწყისი */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto','Noto',sans-serif; */
}
a {
    text-decoration: none;
}
.header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:55px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 7px 10px -4px rgba(0,0,0,0.28);
    position: fixed;
    z-index: 1;
}
.h1{
    display: flex;
    width:18%;
    height:55px;
    align-items: center;
    padding-left: 16px;
}
.fa-bars {
    font-size: 17px;
    color: rgb(87, 87, 87);
}
.logologo {
    width: 80px;
    height: 24px;
}
.header_search {
    width:55%;
    height: 55px;
    display: flex;
    align-items: center;
}
.search {
    width: 640px;
    height: 31px;
    margin-left: 53px;
    position: relative;
    font-weight: 400;
    padding-left:  10px;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border: 1px ridge rgb(197, 195, 195);
    box-shadow: 0.01px 0.4px 0.1px 0.3px rgb(199, 197, 197) inset;
    outline: none;
}
.fa-search{
    width: 65px;
    height: 29px;
    background: rgb(244, 245, 244);
    border-left:1px ridge rgb(197, 195, 195);
    position: absolute;
    margin-left: 627px;
    padding-top:5px;
    padding-left:25px;
    color: rgb(180, 174, 174);
    font-weight: 600;
}
.header_menu {
    width:20%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 30px;
    color: rgb(87, 87, 87);
}
button{
    width: 50px;
    height: 50px;
    border:none;
    background: #fff;
    outline: none;
}
.fa-video{
    font-size: 16px;
    display: block;
}
.video{
    width: 165px;
    height: 35px;
    padding: 10px;
    margin-left: -65px;
}
.display_none{
    list-style: none;
    display: none;
    position: absolute;
    background: rgb(93, 92, 93);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-top:25px;
    float: left;
    color: #fff;
    font-family: 'Roboto','Noto',sans-serif;
    font-size:14px;
    font-weight: 100;
    border-radius: 3px;
}
#open_video{
    width: 173px;
    height: 90px;
    background: rgb(255, 255, 255);
    position: absolute;
    margin-top:10px;
    margin-left: -10px;  
    box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75);
}
.video1,.video2,.open_apps_li{
    display: flex;
}
.Upload_video_photo, .Go_live_photo{
    margin: 10px;
}
.Upload_video{
    margin-top:18px;
}
.Go_live{
    margin-top:10px;
}
.fa-plus{
    font-size:10px;
    margin-top:-1px;
    margin-left: 18px;
}
.fa-th{
    font-size: 18px;
}
.apps{
    width: 115px;
    height: 35px;
    padding: 10px;
    margin-left: -45px;
}
#open_apps{
    width: 253px;
    height: 255px;
    background: rgb(255, 255, 255);
    position: absolute;
    margin-top:9px;
    margin-left: -10px;  
    box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75)
}
.TV_photo, .music_photo, .kids_photo, .academy_photo, .Artists_photo {
    margin: 10px;
}
.kids_photo, .academy_photo{
    margin-left: 3px;
}
.open_apps_p{
    margin-top:14px;
}
.create_p{
    margin-top:20px; 
}
.fa-youtube{
    margin-left: 10px;
    font-size: 1.56em;
    color: red;
}
.fa-comment{
    font-size: 18px;
}
.messages{
    width: 85px;
    height: 35px;
    padding: 10px;
    margin-left: -5px;
}
#open_messages{
    width: 480px;
    height:1000px;
    margin-left: -500px;
    margin-top: -35px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute; ;
    font-weight: 400;
    box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75); 
}
.messages_menu{
    display:flex;
    align-items: center;
    width:480px;
    height:60px;
    border-radius: 5px;
    background: rgb(240, 240, 240);
}
.sms{
    font-size: 20px;
    margin-left: 15px;
}
.friends{
    text-decoration: none;
    margin-left: 320px;
    margin-right: 45px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(28, 100, 216);
}
.none_friends{
    display: none;
    position: absolute;
    background: rgb(93, 92, 93);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-top:25px;
    margin-left: -23px;
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Roboto','Noto',sans-serif;
    font-size:14px;
    padding: 10px;
}
.friends:hover .none_friends {
    display: block;
}
.fa-share {
    margin-left:120px;
    margin-top:-1px;
    font-size:10px;
}
.fa-bell{
    margin-left:-15px;
    font-size: 20px;
}
.Notifications{ 
    width: 100px;
    height: 35px;
    padding: 10px;
    margin-left: -5px;
}
#open_Notifications{
    width: 480px;
    height:1000px;
    margin-left: -500px;
    margin-top: -35px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute; ;
    font-weight: 400;
    box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75); 
}
.Notifications_menu{
    display:flex;
    align-items: center;
    width:480px;
    height:60px;
    border-radius: 5px;
    background: rgb(240, 240, 240);
}
.Notifications_sms{
    font-size: 20px;
    margin-left: 15px;
}
.fa-cog{
    text-decoration: none;
    margin-left: 320px;
    margin-right: 45px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(28, 100, 216);
}
.none_settings{
    display: none;
    position: absolute;
    background: rgb(93, 92, 93);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-top:25px;
    margin-left: -23px;
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Roboto','Noto',sans-serif;
    font-size:14px;
    padding: 10px;
}
.menu_click {
    width: 40px;
    height: 40px;
    outline: none;
    border-radius: 50%;
}
.menu_click:active {
    background-color: #ccc;
}
.myPage {
    margin-top: 5px;
    margin-right: 10px;
}
#profile_menu{
    width: 290px;
    height:620px;
    margin-left: -300px;
    margin-top: -45px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    position: absolute; 
    font-weight: 400;
    box-shadow: 2px 6px 23px -1px rgba(0,0,0,0.75);
    overflow: scroll;
    overflow-x: hidden; 
    position: fixed;
    font-family: 'Roboto','Noto',sans-serif;
}
.profile_menu_header{
    display:flex;
    align-items: center;
    width:290px;
    height:70px;
    border-radius: 5px;
    background: rgb(240, 240, 240);
    margin-bottom:10px;
}
.name{
    margin-left: 10px;
}
.person_name {
    font-weight: 600;
    font-size: 17px;
}
.setting_list{
    margin:10px;
    list-style-type:none;
    display:flex;
    flex-direction: row;
}
.setting_menu{
    margin:10px;
}
.settings_name{
    margin-top:13px;
    margin-right: 10px;
}
.toggleButton{
    margin-top: 8px;
}
.fas{
    color: rgb(98, 95, 95);
}
.fa-cog:hover .none_settings {
    display: block;
}
.fa-video, .fa-comment{
    position: relative;
}
.fa-plus, .fa-share {
    position:absolute; 
    color: rgb(255, 255, 255);
}
.fa-video:hover .display_none, .fa-th:hover .display_none, .fa-comment:hover .display_none, .fa-bell:hover .display_none{
    display: block;
}

/*შაკოს კოდის დასაწყისი საიდბარი*/
.main {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 55px;
}
.left-menu {
    background-color: #f5f5f5;
    height: calc(100vh - 56px);
    width: 240px;
    overflow: scroll;
    overflow-x: hidden; 
    position: fixed;
    font-family: 'Roboto','Noto',sans-serif;
}
.left-menu li {
    list-style: none;
}
.list-content {
    border-bottom: solid 1px #6666;
}
.list-content a {
    text-decoration: none;
    color: black;
}
.list-item {
    height: 40px;
    display: inline-flex;
    align-items:  center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    width: 240px;
    color :#606060;
    position: relative;
}
.list-item .fas {
    margin-right: 24px;
    font-size: 16px;
    color: lightslategray;
}
.list-item:hover {
    background-color: #ccc;
}
.list-item:active {
    background-color: #c6c6c6;
}
.list-content a:focus .focused {
   color: #cc0000;
}
.hover-text {
    visibility: hidden;
    font-size: 12px;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #6666;
    font-weight: 400;
    display: inline;
    position: absolute;
    top: 45px;
    left: 30px;
    z-index: 10;
}
.fa-home:hover .hover-text,
.fa-fire:hover .hover-text,
.fa-history:hover .hover-text,
.fa-music:hover .hover-text,
.fa-futbol:hover .hover-text,
.fa-gamepad:hover .hover-text,
.fa-newspaper:hover .hover-text,
.fa-video:hover .hover-text,
.fa-podcast:hover .hover-text,
.fa-plus-circle:hover .hover-text,
.fa-broadcast-tower:hover .hover-text,
.fa-cogs:hover .hover-text,
.fa-flag:hover .hover-text,
.fa-question-circle:hover .hover-text,
.fa-comment-alt:hover .hover-text {

    visibility: visible;
    
}
.list-title {
    font-size: 14px;
    padding: 12px 24px;
    display: inline-flex;
    align-items:  center;
    vertical-align: middle;
    color :#606060;
}
.list-text {
    width: 200px;
    margin: 12px 0 12px 24px;
    padding: 0 48px 0 0;
    word-wrap: break-word;
}
.signin {
    color: #065fd4;
    cursor: pointer;
    font-weight: 600;
}
.list-text:hover, .signin:hover {
    background-color: transparent;
}
.aboutUs {
    padding: 12px 24px;
}
.aboutUs a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
}
.copyright {
    width: 240px;
    padding: 0 0 24px 24px;
    color: #606060;
    font-size: 12px;
}
.main-conteiner {
    background-color: rgb(250, 250, 250);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.watchConteiner {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 24px 24px 50px;
}
.mainWatch {
background-color: rgb(250, 250, 250);
}
.vodeoVideo {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.upnext {
    width: 30%;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}
#vid {
    position: relative;
    width: 100%;
}
.videoControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: black;

}
.controlers {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.controlButtons {
    width: 46px;
    height: 36px;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
}
.seek {
    width: 98%;
}
.seek input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: rgb(209, 208, 208);
    height: 3px;
    outline: none;
    cursor: pointer;
}
.seek input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(209, 208, 208);
}
.volumeControl input[type=range] {
    -webkit-appearance: none;
    background: rgb(209, 208, 208);
    height: 3px;
    outline: none;
    cursor: pointer;
}
.volumeControl input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(209, 208, 208);
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(209, 208, 208);
}
input[type=range]::-webkit-progress-value {
    background-color: orange;
} 
.ytp-svg-fill {
    fill: white;
}
.volumeControl {
    display: inline-flex;
    align-items: center;
}
.volumeControl:hover #volumeSeek {
    width: 40px;
    display: inline-flex;
}
.durationControl {
    display: inline-flex;
    align-items: center;
}
.playControls {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.durTime {
    margin-left: 20px;
    color: white;
}
#volumeSeek {
    display: none;
}


.fa-toggle-off {
    font-size: 30px;
}

.fa-toggle-on {
    font-size: 30px;
    color: white;
}
.darker {
    background-color: black !important;
    color: white;
}


.rightVideos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rightHistory {
    margin: 5px;
    word-wrap: break-word;
}
#static {
    width: 190px;
}
.staticuri {
    width: 190px;
    position: absolute;
}
.staticuri:hover {
    opacity:0;
  }
.actiuri {
    width: 190px;
    margin: 0;
}

.satauri {
    font-weight: 600;
}
.avtor, .views {
    color: #606060;
}